@import 'utilidades/reset';
@import 'utilidades/variables';
@import 'utilidades/headerStandar/header';
@import 'utilidades/footerStandar/footer';
@import 'utilidades/contact/contact';
@import 'utilidades/about/abouts';
@import 'utilidades/resoluciones/medias';
@import 'utilidades/mainss/maingyb';

 /*Main home (index)*/
.main {

    margin: top 3px;
    padding: 3px;
    display: flex;
    justify-content: center;
}
    .art1 {
      grid-area: art1;
      color: white;
      font-family: 'Times New Roman', Times, serif;
      font-size: larger;
      padding: 3px;
      margin-bottom: 10px; }
    .art2 {
      border-radius: 50%;
      grid-area: art2;
      height:400px;
      width:400px; }
     .art3 {
      grid-area: art3;
     
      font-family: 'Times New Roman', Times, serif;
      font-size: larger;
      padding: 5px; }
    .art4 {
      grid-area: art4;
     
      font-family: 'Times New Roman', Times, serif;
      font-size: larger;
      padding: 5px; }
    .art5 {
      border-radius: 50%;
      grid-area: art5;
      height:400px;
      width:400px; }
     .pcolor {
      color: white; }

  
   
  
  