 /* about*/
 .about_section {
    background-color: black;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    height: 400px;
    padding-bottom: 10px;
    padding-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .div_about {
        height: 400px;
        width: 400px; }
    .p_About {
         color: white; }

}
  
  
  